@model IEnumerable<CRVS.Core.Models.BirthCertificate>

@{
    ViewData["Title"] = "ApprovalStage";
}

<h1 class="text-center mt-5">To Approve Certificates List</h1>

<table class="table table-bordered table-responsive-lg mt-3">
    <thead>
        <tr>
            <th>Child Name</th>
            <th>Gender</th>
            <th>Governorate</th>
            <th>Doh</th>
            <th>District</th>
            <th>Nahia</th>
            <th>Village</th>
            <th>Approval</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model)
        {
            <tr>
                <td>@certificate.ChildName</td>
                <td>@certificate.Gender</td>
                <td>@certificate.Governorate</td>
                <td>@certificate.Doh</td>
                <td>@certificate.District</td>
                <td>@certificate.Nahia</td>
                <td>@certificate.Village</td>
                <td>@certificate.Approval</td>
                <td>
                    <a asp-action="Reject" asp-controller="BirthCertificates" asp-area="" asp-route-id="@certificate.BirthCertificateId" class="btn btn-warning">Reject</a>
                    <a asp-action="Approve" asp-controller="BirthCertificates" asp-area="" asp-route-id="@certificate.BirthCertificateId" class="btn btn-success">Approve</a>   
                    <a asp-action="Delete" asp-controller="BirthCertificates" asp-area="" asp-route-id="@certificate.BirthCertificateId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
