@model CRVS.Core.Models.ViewModels.BirthCertificateViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0 text-center">@Localizer["CreateNewBirthCertificate"]</h4>
            </div>
            <div class="card-body wizard-content">
                <form asp-action="Create" class="login-form validation-wizard wizard-circle mt-5 pb-5" enctype="multipart/form-data" method="post" id="form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <!-- Step 1 -->
                    <h6>@Localizer["NewBornInfo"]</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="Governorate" class="form-control required" value="@ViewBag.Governorate" readonly type="hidden" />
                                    <span asp-validation-for="Governorate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="Doh" class="form-control required" value="@ViewBag.Doh" readonly type="hidden" />
                                    <span asp-validation-for="Doh" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="District" class="form-control required" value="@ViewBag.District" readonly type="hidden" />
                                    <span asp-validation-for="District" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="Nahia" class="form-control required" value="@ViewBag.Nahia" readonly type="hidden" />
                                    <span asp-validation-for="Nahia" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="Village" class="form-control required" value="@ViewBag.Village" readonly type="hidden" />
                                    <span asp-validation-for="Village" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="FacilityType" class="form-control required" value="@ViewBag.FacilityType" readonly type="hidden" />
                                    <span asp-validation-for="FacilityType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="HealthInstitution" class="form-control required" value="@ViewBag.HealthInstitution" readonly type="hidden" />
                                    <span asp-validation-for="HealthInstitution" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="HealthId" class="form-control" value="@ViewBag.HId" readonly type="hidden" />
                                    <span asp-validation-for="HealthId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="box text-center">
                            <div class="row mb-4">
                                <h3 class="mb-5 fs-7">@Localizer["NewBornInfo"] :</h3>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <input asp-for="ChildName" class="form-control required" placeholder="@Localizer["NewBornName"]" />
                                        <label>@Localizer["NewBornName"]</label>
                                        <span asp-validation-for="ChildName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <select asp-for="Gender" class="form-select pt-4" asp-items="Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.Genders>()">
                                            @*<option vlaue="-1" disabled selected hidden>--- @Localizer["NewBornGender"] ---</option>*@
                                        </select>
                                        <label>@Localizer["NewBornGender"]</label>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <select asp-for="BirthType" class="form-select pt-4" asp-items="Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.BirthTypes>()">
                                            @*                                            <option vlaue="-1" disabled selected hidden>--- @Localizer["NewBornBirthType"] ---</option>
                                            *@
                                        </select>
                                        <label>@Localizer["NewBornBirthType"]</label>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-floating">
                                        <select asp-for="NumberOfBirth" class="form-select pt-4" asp-items="Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.NumberOfBirths>()">
                                            @*                                            <option vlaue="-1" disabled selected hidden>--- @Localizer["NewBornNumberOfBirth"] ---</option>
                                            *@
                                        </select>
                                        <label>@Localizer["NewBornNumberOfBirth"]</label>
                                        <span asp-validation-for="NumberOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="BirthHour" id="BirthHour" class="form-control" />
                                        <label>@Localizer["NewBornBirthHour"]</label>
                                        <span asp-validation-for="BirthHour" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="DOB" id="DOB" class="form-control " type="date" />
                                        <label>@Localizer["NewBornDOB"]</label>
                                        <span asp-validation-for="DOB" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="DOBText" id="DOBText" class="form-control" readonly placeholder="@Localizer["NewBornDOBText"]" />
                                        <label>@Localizer["NewBornDOBText"]</label>
                                        <span asp-validation-for="DOBText" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>@Localizer["FatherInfo"]</h6>
                    <section>
                        <div class="box">
                            <div class="row mb-4 text-center">
                                <h3 class="mb-5 fs-7">@Localizer["FatherInfo"] :</h3>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FatherFName" class="form-control " placeholder="@Localizer["FatherFName"]" />
                                        <label>@Localizer["FatherFName"]</label>
                                        <span asp-validation-for="FatherFName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FatherMName" class="form-control " placeholder="@Localizer["FatherMName"]" />
                                        <label>@Localizer["FatherMName"]</label>
                                        <span asp-validation-for="FatherMName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FatherLName" class="form-control " placeholder="@Localizer["FatherLName"]" />
                                        <label>@Localizer["FatherLName"]</label>
                                        <span asp-validation-for="FatherLName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FatherDOB" class="form-control " type="month" onchange="calculateAge('FatherDOB', 'FatherAgeInput')" />
                                        <label>@Localizer["FatherDOB"]</label>
                                        <span asp-validation-for="FatherDOB" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FatherAge" id="FatherAgeInput" class="form-control " placeholder="@Localizer["FatherAge"]" readonly />
                                        <label>@Localizer["FatherAge"]</label>
                                        <span asp-validation-for="FatherAge" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FatherMobile" class="form-control " placeholder="@Localizer["FatherMobile"]" />
                                        <label>@Localizer["FatherMobile"]</label>
                                        <span asp-validation-for="FatherMobile" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="FatherReligionId" class="select2 " asp-items="@ViewBag.MaleReligions">
                                            <option value="" disabled selected hidden>-- @Localizer["FatherReligion"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["FatherReligion"]</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="FatherNationalityId" class="select2 " asp-items="@ViewBag.FatherNationalities">
                                            <option value="" disabled selected hidden>-- @Localizer["FatherNationality"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["FatherNationality"]</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="FatherJobId" class="select2 required" asp-items="@ViewBag.MaleJobs">
                                            <option value="" disabled selected hidden>-- @Localizer["FatherJob"] *--</option>

                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["FatherJob"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row text-center mb-4">
                                <h3 class="mb-5 fs-7">@Localizer["MotherInfo"] :</h3>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="MotherFName" class="form-control " placeholder="@Localizer["MotherFName"]" />
                                        <label>@Localizer["MotherFName"]</label>
                                        <span asp-validation-for="MotherFName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="MotherMName" class="form-control " placeholder="@Localizer["MotherMName"]" />
                                        <label>@Localizer["MotherMName"]</label>
                                        <span asp-validation-for="MotherMName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="MotherLName" class="form-control " placeholder="@Localizer["MotherLName"]" />
                                        <label>@Localizer["MotherLName"]</label>
                                        <span asp-validation-for="MotherLName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="MotherDOB" class="form-control " type="month" onchange="calculateAge('MotherDOB', 'MotherAgeInput')" />
                                        <label>@Localizer["MotherDOB"]</label>
                                        <span asp-validation-for="MotherDOB" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="MotherAge" class="form-control " id="MotherAgeInput" placeholder="@Localizer["MotherAge"]" readonly />
                                        <label>@Localizer["MotherAge"]</label>
                                        <span asp-validation-for="MotherAge" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="MotherMobile" class="form-control " placeholder="@Localizer["MotherMobile"]" />
                                        <label>@Localizer["MotherMobile"]</label>
                                        <span asp-validation-for="MotherMobile" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="MotherReligionId" class="select2 " asp-items="@ViewBag.FemaleReligions">
                                            <option value="" disabled selected hidden>-- @Localizer["MotherReligion"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["MotherReligion"]</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="MotherNationalityId" class="select2 " asp-items="@ViewBag.MotherNationalities">
                                            <option value="" disabled selected hidden>-- @Localizer["MotherNationality"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["MotherNationality"]</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="MotherJobId" class="select2 required" asp-items="@ViewBag.FemaleJobs">
                                            <option value="" disabled selected hidden>-- @Localizer["MotherJob"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["MotherJob"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Step 3 -->
                    <h6>@Localizer["MotherInfo"]</h6>
                    <section>
                        <div class="box">
                            <div class="row text-center mb-4">
                                <h3 class="mb-4 fs-7">@Localizer["NumOfPreviousAliveChildren"] :</h3>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="Alive" class="form-control required" placeholder="@Localizer["Alive"]" min="0" />
                                        <label>@Localizer["Alive"]</label>
                                        <span asp-validation-for="Alive" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="BornAliveThenDied" class="form-control " placeholder="@Localizer["BornAliveThenDied"]" min="0" />
                                        <label>@Localizer["BornAliveThenDied"]</label>
                                        <span asp-validation-for="BornAliveThenDied" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="StillBirth" class="form-control " placeholder="@Localizer["BornDied"]" min="0" />
                                        <label>@Localizer["BornDied"]</label>
                                        <span asp-validation-for="StillBirth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="NoAbortion" class="form-control" placeholder="@Localizer["NoAbortionIfThere"]" min="0" />
                                        <label>@Localizer["NoAbortionIfThere"]</label>
                                        <span asp-validation-for="NoAbortion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display: none;" id="BornDisableContainer">
                                    <div class="form-floating">
                                        <input asp-for="BornDisable" class="form-control " placeholder="@Localizer["BornDisable"]" min="0" />
                                        <label>@Localizer["BornDisable"]</label>
                                        <span asp-validation-for="BornDisable" class="text-danger"></span>
                                        <div id="bornDisableError" class="text-danger fs-3" style="display: none;">@Localizer["BornDisableError"].</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="IsDisabled" class="form-select pt-4" asp-items="Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.IsDisableds>()">
                                            @*<option vlaue="-1" disabled selected hidden>@Localizer["IsDisabled"]</option>*@
                                        </select>
                                        <label>@Localizer["IsDisabled"]</label>
                                        <span asp-validation-for="IsDisabled" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group select2-parent" id="DisabledTypeIdContainer">
                                        <select asp-for="DisabledTypeId" class="select2 " asp-items="@ViewBag.Disabilities">
                                            <option value="" disabled selected hidden>-- @Localizer["DisabledType"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["DisabledType"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select asp-for="Relative" class="form-select pt-4" asp-items="Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.Relatives>()">
                                            @*<option vlaue="-1" disabled selected hidden>@Localizer["IsMotherAndFatherRelated"]</option>*@
                                        </select>
                                        <label>@Localizer["IsMotherAndFatherRelated"]</label>
                                        <span asp-validation-for="Relative" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="DurationOfPregnancy" class="form-control " placeholder="@Localizer["DurationOfPregnancy"]" />
                                        <label>@Localizer["DurationOfPregnancy"]</label>
                                        <span asp-validation-for="DurationOfPregnancy" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="BabyWeight" class="form-control " placeholder="@Localizer["BabyWeight"]" />
                                        <label>@Localizer["BabyWeight"]</label>
                                        <span asp-validation-for="BabyWeight" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            if (ViewBag.FacilityType == "مكتب تسجيل الولادات والوفيات")
                            {
                                ViewBag.PlaceOfBirth = "مكتب";
                                ViewBag.IsOffice = true;
                            }
                            else
                            {
                                ViewBag.PlaceOfBirth = "مستشفى أو مركز";
                                ViewBag.IsOffice = false;
                            }
                            var isOffice = ViewBag.IsOffice;

                            var birthOccurredByOptions = Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.BirthOccurredBys>().ToList();
                            if (!isOffice)
                            {
                                birthOccurredByOptions.RemoveAt(2);
                                birthOccurredByOptions.RemoveAt(2);
                            }
                        }
                        <div class="box">
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="PlaceOfBirth" class="form-control " value="@ViewBag.PlaceOfBirth" readonly />
                                        <label>@Localizer["PlaceOfBirth"]</label>
                                        <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6" id="BirthOccurredByContainer">
                                    <div class="form-floating">
                                        <select asp-for="BirthOccurredBy" class="form-select pt-4" asp-items="@(new SelectList(birthOccurredByOptions, "Value", "Text"))">
                                            <option vlaue="-1" disabled selected hidden>--- @Localizer["BirthOccurredBy"] ---</option>
                                        </select>
                                        <label>@Localizer["BirthOccurredBy"]؟</label>
                                        <span asp-validation-for="BirthOccurredBy" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="TheKabilaLicenseInputs" style="display: none">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="LicenseNo" class="form-control " placeholder="@Localizer["LicenseNo"]" />
                                        <label>@Localizer["LicenseNo"]</label>
                                        <span asp-validation-for="LicenseNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="LicenseYear" class="form-control " />
                                        <label>@Localizer["LicenseYear"]</label>
                                        <span asp-validation-for="LicenseYear" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>@Localizer["BirthInfo"]</h6>
                    <section>
                        <div class="box">
                            <div class="row mb-4">
                                <h3 class="mb-4 fs-7 text-center">@Localizer["FamilyPermanentAddress"] :</h3>
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="FamilyGovernorateId" id="FamilyGovernorateId" class="select2 " asp-items="@ViewBag.Governorates">
                                            <option value="" disabled selected hidden>-- @Localizer["SelectGovernorate"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["SelectGovernorate"]</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="FamilyDistrictId" id="FamilyDistrictId" class="select2 " asp-items="@ViewBag.Districts">
                                            <option value="" disabled selected hidden>-- @Localizer["SelectDistrict"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["SelectDistrict"]</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group select2-parent">
                                        <select asp-for="FamilyNahiaId" id="FamilyNahiaId" class="select2 " asp-items="@ViewBag.Nahias">
                                            <option value="" disabled selected hidden>-- @Localizer["SelectNahia"] *--</option>
                                        </select>
                                        <label style="position: absolute; top: 4px; right: 41px; font-size: 13px; color: #9da6ab;">@Localizer["SelectNahia"]</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FamilyMahala" class="form-control " placeholder="@Localizer["MahalaOrVillage"]" />
                                        <label>@Localizer["MahalaOrVillage"]</label>
                                        <span asp-validation-for="FamilyMahala" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FamilyZigag" class="form-control " placeholder="@Localizer["Zigag"]" />
                                        <label>@Localizer["Zigag"]</label>
                                        <span asp-validation-for="FamilyZigag" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="FamilyHomeNo" class="form-control " placeholder="@Localizer["HomeNumber"]" />
                                        <label>@Localizer["HomeNumber"]</label>
                                        <span asp-validation-for="FamilyHomeNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row mb-4 text-center">
                                <h3 class="mb-4 fs-7">@Localizer["InfoForDirOfNationAndCivStatus"] :</h3>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="DocumentType" class="form-select pt-4" asp-items="Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.DocumentTypes>()">
                                            @*                                        <option vlaue="-1" disabled selected hidden>--- @Localizer["DocumentType"] *---</option>
                                            *@
                                        </select>
                                        <label>@Localizer["DocumentType"]</label>
                                        <span asp-validation-for="DocumentType" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4" id="firstDocumentTypeOptionSub2" style="display: none">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="CivilStatusDirectorate" class="form-control " placeholder="@Localizer["CivilStatusDirectorate"]" />
                                        <label>@Localizer["CivilStatusDirectorate"]</label>
                                        <span asp-validation-for="CivilStatusDirectorate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="GovernorateCivilStatusDirectorate" class="form-control " placeholder="@Localizer["GovernorateCivilStatusDirectorate"]" />
                                        <label>@Localizer["GovernorateCivilStatusDirectorate"]</label>
                                        <span asp-validation-for="GovernorateCivilStatusDirectorate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4" id="firstDocumentTypeOptionSub1" style="display: none">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="RecordNumber" class="form-control " placeholder="@Localizer["RecordNumber"]" />
                                        <label>@Localizer["RecordNumber"]</label>
                                        <span asp-validation-for="RecordNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="PageNumber" class="form-control " placeholder="@Localizer["PageNumber"]" />
                                        <label>@Localizer["PageNumber"]</label>
                                        <span asp-validation-for="PageNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4" id="secondDocumentTypeOption" style="display: none">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="NationalIdFor" class="form-select pt-4" asp-items="Html.GetEnumSelectList<CRVS.Core.Models.BirthCertificate.NationalIdFors>()">
                                            @*                                        <option vlaue="-1" disabled selected hidden>--- @Localizer["NationalIdFor"] *---</option>
                                            *@
                                        </select>
                                        <label>@Localizer["NationalIdFor"]</label>
                                        <span asp-validation-for="NationalIdFor" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="NationalId" class="form-control " placeholder="@Localizer["NationalIdForMotherOrFather"]" />
                                        <label>@Localizer["NationalIdForMotherOrFather"]</label>
                                        <span asp-validation-for="NationalId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="thirdDocumentTypeOption" style="display: none">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="PassportNo" class="form-control " placeholder="@Localizer["PassportNumber"]" />
                                        <label>@Localizer["PassportNumber"]</label>
                                        <span asp-validation-for="PassportNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 5 -->
                    <h6>معلومات العائلة</h6>
                    <section>
                        <div class="box">
                            <div class="row mb-4 text-center">
                                <h3 class="mb-4 fs-7">@Localizer["InfoAboutInformer"] :</h3>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="InformerName" class="form-control " placeholder="@Localizer["InformerName"]" />
                                        <label>@Localizer["InformerName"]</label>
                                        <span asp-validation-for="InformerName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="InformerJobTitle" class="form-control " placeholder="@Localizer["InformerJobTitle"]" />
                                        <label>@Localizer["InformerJobTitle"]</label>
                                        <span asp-validation-for="InformerJobTitle" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input asp-for="KinshipOfTheNewborn" class="form-control " placeholder="@Localizer["KinshipOfTheNewborn"]" />
                                        <label>@Localizer["KinshipOfTheNewborn"]</label>
                                        <span asp-validation-for="KinshipOfTheNewborn" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row text-center">
                                <h3 class="mb-4 fs-7">@Localizer["CertifyThisChildBornAliveOnDateAbove"] :</h3>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="BirthPerformerName" class="form-control " placeholder="@Localizer["BirthPerformerName"]" />
                                        <label>@Localizer["BirthPerformerName"]</label>
                                        <span asp-validation-for="BirthPerformerName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="BirthPerformerWorkingAddress" class="form-control " placeholder="@Localizer["BirthPerformerWorkingAddress"]" />
                                        <label>@Localizer["BirthPerformerWorkingAddress"]</label>
                                        <span asp-validation-for="BirthPerformerWorkingAddress" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row text-center">
                                <h3 class="mb-4 fs-7">@Localizer["HospitalManagerOrRepresentative"] :</h3>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="HospitalManagerName" class="form-control " placeholder="@Localizer["HospitalManagerName"]" />
                                        <label>@Localizer["HospitalManagerName"]</label>
                                        <span asp-validation-for="HospitalManagerName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="HospitalManagerSig" class="form-control " placeholder="@Localizer["HospitalManagerSig"]" />
                                        <label>@Localizer["HospitalManagerSig"]</label>
                                        <span asp-validation-for="HospitalManagerSig" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="RationCard" class="form-control required" placeholder="@Localizer["RationCard"]" />
                                        <label>@Localizer["RationCard"]</label>
                                        <span asp-validation-for="RationCard" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 6 -->
                    <h6>إثباتات</h6>
                    <section>
                        <div class="box">
                            <div class="row mb-4 text-center">
                                <h3 class="mb-4 fs-7">إثباتات :</h3>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageBirthCertificate" class="form-control required" style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageBirthCertificate"]</label>
                                        <span asp-validation-for="ImageBirthCertificate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageMarriageCertificate" class="form-control " style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageMarriageCertificate"]</label>
                                        <span asp-validation-for="ImageMarriageCertificate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageFatherUnifiedNationalIdFront" class="form-control " style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageFatherUnifiedNationalIdFront"]</label>
                                        <span asp-validation-for="ImageFatherUnifiedNationalIdFront" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageFatherUnifiedNationalIdBack" class="form-control " style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageFatherUnifiedNationalIdBack"]</label>
                                        <span asp-validation-for="ImageFatherUnifiedNationalIdBack" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageMotherUnifiedNationalIdFront" class="form-control " style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageMotherUnifiedNationalIdFront"]</label>
                                        <span asp-validation-for="ImageMotherUnifiedNationalIdFront" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageMotherUnifiedNationalIdBack" class="form-control " style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageMotherUnifiedNationalIdBack"]</label>
                                        <span asp-validation-for="ImageMotherUnifiedNationalIdBack" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageResidencyCardFront" class="form-control " style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageResidencyCardFront"]</label>
                                        <span asp-validation-for="ImageResidencyCardFront" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="ImageResidencyCardBack" class="form-control " style="height: 64px; padding-top: 36px;" />
                                        <label>@Localizer["ImageResidencyCardBack"]</label>
                                        <span asp-validation-for="ImageResidencyCardBack" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <input type="hidden" asp-for="SaveBtn" id="SaveBtn" value="SaveAndSend" />
                    <input type="submit" value="حفظ" name="Save" onclick="setSaveBtnValue('Save'); removeRequiredClass();" class="btn btn-primary position-absolute px-4 py-2 rounded-pill" style="bottom: -63px; left: 6%;" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".select2-container .select2-dropdown .select2-results ul li:first-child").addClass("hide");
    });
</script>

@*To Add the search bar to the Seclet Lists*@
<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>

@*To Disable the Days before 40 days*@
<script>
    var today = new Date();
    var minDate = new Date();
    minDate.setDate(today.getDate() - 40);
    var minDateISO = minDate.toISOString().split('T')[0];

    document.getElementById('DOB').setAttribute('min', minDateISO);
    document.getElementById('DOB').setAttribute('max', today.toISOString().split('T')[0]);
</script>

@*To Translate the Date to words*@
<script>
    $(document).ready(function () {
        $("#BirthHour, #DOB").change(function () {
            var birthHour = $("#BirthHour").val();
            var dob = $("#DOB").val();

            var birthHourText = convertTimeToWords(birthHour);
            var dobText = convertDateToWords(dob);

            var dobFullText = birthHourText + " " + dobText;

            $("#DOBText").val(dobFullText);
        });

        function convertTimeToWords(time) {
            var hour = parseInt(time.split(':')[0]);
            var period;

            if (hour === 0) {
                hour = 12;
                period = "صباحًا";
            } else if (hour === 12) {
                period = "مساءً";
            } else if (hour > 12) {
                hour -= 12;
                period = "مساءً";
            } else {
                period = "صباحًا";
            }
            //var period = hour >= 12 ? "مساءً" : "صباحًا";
            //hour = hour > 12 ? hour - 12 : hour;

            var hourText;
            switch (hour) {
                case 1:
                    hourText = "الساعة الأولى";
                    break;
                case 2:
                    hourText = "الساعة الثانية";
                    break;
                case 3:
                    hourText = "الساعة الثالثة";
                    break;
                case 4:
                    hourText = "الساعة الرابعة";
                    break;
                case 5:
                    hourText = "الساعة الخامسة";
                    break;
                case 6:
                    hourText = "الساعة السادسة";
                    break;
                case 7:
                    hourText = "الساعة السابعة";
                    break;
                case 8:
                    hourText = "الساعة الثامنة";
                    break;
                case 9:
                    hourText = "الساعة التاسعة";
                    break;
                case 10:
                    hourText = "الساعة العاشرة";
                    break;
                case 11:
                    hourText = "الساعة الحادية عشرة";
                    break;
                case 12:
                    hourText = "الساعة الثانية عشرة";
                    break;
                default:
                    hourText = "الساعة غير معروفة";
                    break;
            }

            return hourText + " " + period;
        }

        function convertDateToWords(date) {
            var dateObj = new Date(date);
            var day = dateObj.getDate();

            var dayText;
            if (day === 1) {
                dayText = "الأول";
            } else if (day === 2) {
                dayText = "الثاني";
            } else if (day === 3) {
                dayText = "الثالث";
            } else if (day === 4) {
                dayText = "الرابع";
            } else if (day === 5) {
                dayText = "الخامس";
            } else if (day === 6) {
                dayText = "السادس";
            } else if (day === 7) {
                dayText = "السابع";
            } else if (day === 8) {
                dayText = "الثامن";
            } else if (day === 9) {
                dayText = "التاسع";
            } else if (day === 10) {
                dayText = "العاشر";
            } else if (day === 11) {
                dayText = "الحادي عشر";
            } else if (day === 12) {
                dayText = "الثاني عشر";
            } else if (day === 13) {
                dayText = "الثالث عشر";
            } else if (day === 14) {
                dayText = "الرابع عشر";
            } else if (day === 15) {
                dayText = "الخامس عشر";
            } else if (day === 16) {
                dayText = "السادس عشر";
            } else if (day === 17) {
                dayText = "السابع عشر";
            } else if (day === 18) {
                dayText = "الثامن عشر";
            } else if (day === 19) {
                dayText = "التاسع عشر";
            } else if (day === 20) {
                dayText = "العشرون";
            } else if (day === 21) {
                dayText = "الواحد وعشرون";
            } else if (day === 22) {
                dayText = "الثاني وعشرون";
            } else if (day === 23) {
                dayText = "الثالث وعشرون";
            } else if (day === 24) {
                dayText = "الرابع وعشرون";
            } else if (day === 25) {
                dayText = "الخامس وعشرون";
            } else if (day === 26) {
                dayText = "السادس وعشرون";
            } else if (day === 27) {
                dayText = "السابع وعشرون";
            } else if (day === 28) {
                dayText = "الثامن وعشرون";
            } else if (day === 29) {
                dayText = "التاسع وعشرون";
            } else if (day === 30) {
                dayText = "الثلاثون";
            } else if (day === 31) {
                dayText = "الواحد وثلاثون";
            } else {
                dayText = "غير معروف";
            }

            var months = ["الأول", "الثاني", "الثالث", "الرابع", "الخامس", "السادس", "السابع", "الثامن", "التاسع", "العاشر", "الحادي عشر", "الثاني عشر"];
            var month = months[dateObj.getMonth()];

            var year = dateObj.getFullYear();
            var yearText = convertNumberToArabic(year);

            var dateText = "من اليوم " + dayText + " من الشهر " + month + " من عام " + yearText;
            return dateText;
        }

        function convertNumberToArabic(number) {
            var units = ['', 'وواحد', 'واثنان', 'وثلاثة', 'وأربعة', 'وخمسة', 'وستة', 'وسبعة', 'وثمانية', 'وتسعة'];
            var tens = ['', 'وعشرة', 'وعشرون', 'وثلاثون', 'وأربعون', 'وخمسون', 'وستون', 'وسبعون', 'وثمانون', 'وتسعون'];
            var hundreds = ['', 'ومائة', 'ومئتان', 'ثلاثمائة', 'وأربعمائة', 'وخمسمائة', 'وستمائة', 'وسبعمائة', 'وثمانمائة', 'وتسعمائة'];
            var thousands = ['', 'ألف', 'ألفان', 'ثلاثة آلاف', 'أربعة آلاف', 'خمسة آلاف', 'ستة آلاف', 'سبعة آلاف', 'ثمانية آلاف', 'تسعة آلاف'];
            var numberText = '';
            var numberText2 = '';
            var numberText3 = '';
            var numberText4 = '';

            if (number >= 1000) {
                var thousand = Math.floor(number / 1000);
                numberText2 = ' ' + thousands[thousand];
                number %= 1000;
            }
            if (number >= 100) {
                var hundred = Math.floor(number / 100);
                numberText3 = ' ' + hundreds[hundred];
                number %= 100;
            }
            if (number >= 10) {
                var ten = Math.floor(number / 10);
                numberText4 = ' ' + tens[ten];
                number %= 10;
            }
            if (number > 0) {
                numberText = numberText2 + numberText3 + ' ' + units[number] + numberText4;
            }
            return numberText.trim();
        }
    });
</script>

@*Disabling the Last 10 years of the Father and Mother age*@
<script>
    document.getElementById('FatherDOB').setAttribute('max', new Date().getFullYear() - 10 + '-01');
    document.getElementById('MotherDOB').setAttribute('max', new Date().getFullYear() - 10 + '-01');
</script>

@*Counting the age of the father and the mother*@
<script>
    function calculateAge(dobInputId, ageInputId) {
        var dobInput = document.getElementById(dobInputId);
        var dob = new Date(dobInput.value);
        var now = new Date();
        var age = now.getFullYear() - dob.getFullYear();
        var monthDiff = now.getMonth() - dob.getMonth();

        if (monthDiff < 0 || (monthDiff === 0 && now.getDate() < dob.getDate())) {
            age--;
        } else if (monthDiff >= 6) {
            age++;
        }

        var ageInput = document.getElementById(ageInputId);
        ageInput.value = age + " سنة";
    }
</script>

@*Validation on the BornDisable Field*@
<script>
    $(document).ready(function () {
        var aliveValue = "";
        $("#Alive").change(function () {
            aliveValue = $(this).val();
            if (aliveValue === "0" || aliveValue === "") {
                $("#BornDisableContainer").hide();
            } else {
                $("#BornDisableContainer").show();
                $("#BornDisable").val("");
                $("#bornDisableError").hide();
            }
        });
        $("#BornDisable").change(function () {
            var bornDisableValue = parseInt($(this).val());
            if (bornDisableValue > parseInt(aliveValue)) {
                $(this).val("");
                $("#bornDisableError").show();
                //Swal.fire({
                //    icon: 'error',
                //    title: 'خطأ',
                //    text: 'what ever',
                //    confirmButtonText: 'موافق'
                //});
            } else if (bornDisableValue <= parseInt(aliveValue)) {
                $("#bornDisableError").hide();
            }
        });
    });
</script>

@* To Hide the DisabledType DropDown List except if he chose the first option from the emun above it?*@
<script>
    $(document).ready(function () {
        $("#DisabledTypeIdContainer").hide();
        $("#IsDisabled").change(function () {
            var selectedValue = $(this).val();
            if (selectedValue === "0") {
                $("#DisabledTypeIdContainer").show();
            } else {
                $("#DisabledTypeIdContainer").hide();
                $("#DisabledTypeId").val("");
            }
        });
    });
</script>

@*Controlling the The Kabila License Inputs after selecting from the BirthOccurredBy input*@
<script>
    $(document).ready(function () {
        $("#BirthOccurredBy").change(function () {
            var selectedValue = $(this).val();
            if (selectedValue === "2") {
                $("#TheKabilaLicenseInputs").show();
            } else {
                $("#TheKabilaLicenseInputs").hide();
                $("#LicenseNo").val("");
                $("#LicenseYear").val("");
            }
        });
    });
</script>

@*Filtering Districts after selecting Governorate*@
<script>
    $(document).ready(function () {
        $('#FamilyGovernorateId').change(function () {
            var selectedFamilyGovernorateId = $(this).val();
            $.ajax({
                url: '/BirthCertificates/GetDistricts',
                type: 'GET',
                data: { familyGovernorateId: selectedFamilyGovernorateId },
                dataType: 'json',
                success: function (data) {
                    var districtDropdown = $('#FamilyDistrictId');
                    districtDropdown.empty();
                    var selectOption = $('<option></option>').val('').text('-- حدد القضاء --');
                    selectOption.prop('disabled', true);
                    selectOption.prop('hidden', true);
                    selectOption.prop('selected', true);
                    districtDropdown.append(selectOption);
                    $.each(data, function (index, item) {
                        var option = $('<option></option>').val(item.districtId).text(item.districtName);
                        districtDropdown.append(option);
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>

@*Filtering Nahia after selecting Districts*@
<script>
    $(document).ready(function () {
        $('#FamilyDistrictId').change(function () {
            var selectedFamilyDistrictId = $(this).val();
            var selectedFamilyGovernorateId = $('#FamilyGovernorateId').val();

            $.ajax({
                url: '/BirthCertificates/GetNahias',
                type: 'GET',
                data: { familyDistrictId: selectedFamilyDistrictId, familyGovernorateId: selectedFamilyGovernorateId },
                dataType: 'json',
                success: function (data) {
                    var nahiaDropdown = $('#FamilyNahiaId');
                    nahiaDropdown.empty();
                    var selectOption = $('<option></option>').val('').text('-- حدد الناحية --');
                    selectOption.prop('disabled', true);
                    selectOption.prop('hidden', true);
                    selectOption.prop('selected', true);
                    nahiaDropdown.append(selectOption);
                    $.each(data, function (index, item) {
                        var option = $('<option></option>').val(item.nahiaId).text(item.nahiaName);
                        nahiaDropdown.append(option);
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>

@*Change the inputs based on thr choosen from Document type *@
<script>
    $(document).ready(function () {
        $("#DocumentType").change(function () {
            var selectedValue = $(this).val();
            if (selectedValue === "0") {
                $("#firstDocumentTypeOptionSub1").show();
                $("#firstDocumentTypeOptionSub2").show();
                $("#secondDocumentTypeOption").hide();
                $("#thirdDocumentTypeOption").hide();
                $("#NationalIdFor").val("");
                $("#NationalId").val("");
                $("#PassportNo").val("");
            } else if (selectedValue === "1") {
                $("#firstDocumentTypeOptionSub1").hide();
                $("#firstDocumentTypeOptionSub2").show();
                $("#secondDocumentTypeOption").show();
                $("#thirdDocumentTypeOption").hide();
                $("#RecordNumber").val("");
                $("#PageNumber").val("");
            } else {
                $("#firstDocumentTypeOptionSub1").hide();
                $("#firstDocumentTypeOptionSub2").hide();
                $("#secondDocumentTypeOption").hide();
                $("#thirdDocumentTypeOption").show();
                $("#RecordNumber").val("");
                $("#PageNumber").val("");
                $("#CivilStatusDirectorate").val("");
                $("#GovernorateCivilStatusDirectorate").val("");
                $("#NationalIdFor").val("");
                $("#NationalId").val("");
            }
        });
    });
</script>

@*Adding the Create Button on the last step*@
<script>
    $(document).ready(function () {
        $(".actions > ul > li:last-child > a").addClass("hide");

        var newInput = $("<input>", {
            type: "submit",
            value: "حفظ وإرسال",
            class: "btn btn-primary",
            style: "padding: 7px 20px; border-radius: 25px; font-size: 15px; font-weight: 400; background-color: #2962ff;"
        });

        $(".actions > ul > li:last-child").append(newInput);
    });
</script>

@*Adding the Check Icon into the circle steps (UI Modifying)*@
<script>
    $(document).ready(function () {
        $(".actions > ul > li > a").click(function (event) {
            $(".steps > ul > .done > a > span").empty().append('<i class="bi bi-check-lg fs-7"></i>');
        });
    });
</script>

@*Translating the "Next" and "Previous" buttons to arabic*@
<script>
    $(document).ready(function () {
        $(".actions > ul > li:nth-child(2) > a").text('التالي');
        $(".actions > ul > li:nth-child(1) > a").text('السابق');
    });
</script>

@*Adding Save as a value to the Save Button*@
<script>
    function setSaveBtnValue(btnValue) {
        document.getElementById("SaveBtn").value = btnValue;
    }
</script>

@*Remove all the Reqiured Inputs to save the work *@
<script>
    function removeRequiredClass() {
        $('.required').removeClass('required');
    }
</script>