@model IEnumerable<CRVS.Core.Models.BirthCertificate>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center mt-5">Certificates List</h1>
 @if (ViewBag.canAdd)
{
    <a asp-action="Create" >Create</a>
}
@*<table class="table table-dark table-responsive-lg mb-4" id="myTable">*@
<table class="table table-bordered table-responsive-lg mt-3">
    <thead>
        <tr>
            <th>Child Name</th>
            <th>Gender</th>
            <th>Governorate</th>
            <th>Directorate</th>
            <th>District</th>
            <th>Nahia</th>
            <th>Village</th>
            <th>Approval</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model)
        {
            <tr>
                <td>@certificate.ChildName</td>
                <td>@certificate.Gender</td>
                <td>@certificate.Governorate</td>
                <td>@certificate.Doh</td>
                <td>@certificate.District</td>
                <td>@certificate.Nahia</td>
                <td>@certificate.Village</td>
                <td>@certificate.Approval</td>
                <td>
                    @if (ViewBag.canDelete)
                    {
                        <a asp-action="Delete" asp-route-id="@certificate.BirthCertificateId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
