@model IEnumerable<CRVS.Core.Models.BirthCertificate>

@{
    ViewData["Title"] = "Rejected";
}

<h1 class="text-center mt-5">Rejected Certificates List</h1>

<table class="table table-bordered table-responsive-lg mt-3">
    <thead>
        <tr>
            <th>Child Name</th>
            <th>Gender</th>
            <th>Governorate</th>
            <th>Directorate</th>
            <th>Judiciary</th>
            <th>District</th>
            <th>Village</th>
            <th>Approval</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model)
        {
            <tr>
                <td>@certificate.ChildName</td>
                <td>@certificate.Venu</td>
                <td>@certificate.Governorate</td>
                <td>@certificate.Directorate</td>
                <td>@certificate.Judiciary</td>
                <td>@certificate.District</td>
                <td>@certificate.Village</td>
                <td>@certificate.Approval</td>
                <td>
                    <a asp-action="Edit" asp-controller="BirthCertificates" asp-area="" asp-route-id="@certificate.BirthCertificateId" class="btn btn-danger">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
