@model IEnumerable<CRVS.Core.Models.BirthCertificate>
@{
    ViewData["Title"] = "Second Stage";
}

<h1 class="text-center mt-5">Pending Certificates List</h1>

@*<table class="table table-dark table-responsive-lg mb-4" id="myTable">*@
<table class="table table-bordered table-responsive-lg mt-3">
    <thead>
        <tr>
            <th>Child Name</th>
            <th>Gender</th>
            <th>Governorate</th>
            <th>Directorate</th>
            <th>District</th>
            <th>Nahia</th>
            <th>Village</th>
            <th>Approval</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model)
        {
            <tr>
                <td>@certificate.ChildName</td>
                <td>@certificate.Gender</td>
                <td>@certificate.Governorate</td>
                <td>@certificate.Doh</td>
                <td>@certificate.District</td>
                <td>@certificate.Nahia</td>
                <td>@certificate.Village</td>
                <td>@certificate.Approval</td>
                <td>
                    <a asp-action="SecondStageReject" asp-controller="BirthCertificates" asp-area="" asp-route-id="@certificate.BirthCertificateId" class="btn btn-warning">Reject</a>
                    <a asp-action="ToApprovalStage" asp-controller="BirthCertificates" asp-area="" asp-route-id="@certificate.BirthCertificateId" class="btn btn-success">To Approve</a>
                </td>
            </tr>
        }
    </tbody>
</table>
