@model IEnumerable<CRVS.Core.Models.BirthCertificate>
@{
    ViewData["Title"] = "To Edit Stage";
}

<h1 class="text-center mt-5">قائمة الشهادات الغير مكتملة للمراجعة</h1>

@*<table class="table table-dark table-responsive-lg mb-4" id="myTable">*@
<table class="table table-bordered table-responsive-lg mt-3">
    <thead>
        <tr>
            <th>الرقم الصحي</th>
            <th>إسم الوليد</th>
            <th>تاريخ الولادة</th>
            <th>مكان الولادة</th>
            <th>إسم الأب</th>
            <th>إسم الأم</th>
            <th>الحالة</th>
            <th>عمليات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var certificate in Model)
        {
            <tr>
                <td>@certificate.HealthId</td>
                <td>@certificate.ChildName @certificate.FatherFName @certificate.FatherLName</td>
                <td>@certificate.DOB</td>
                <td>@certificate.Governorate, @certificate.Doh, @certificate.District, @certificate.Nahia</td>
                <td>@certificate.FatherFName</td>
                <td>@certificate.MotherFName</td>
                <td class="position-relative">
                    @{
                        var status = certificate.BiostatisticsStage ? "bg-success" : "bg-warning";
                        var title = certificate.BiostatisticsStage ? "مكتملة" : "غير مكتملة";
                    }
                    <div class="rounded-circle @status position-absolute" style="width: 10px; height: 10px; top: 50%; transform: translate(-50%, -50%); left: 50%;" title="@title"></div>
                </td>
                <td class="dropdown">
                    <a class="nav-link text-center m-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots fs-4"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        @if (ViewBag.canEdit)
                        {
                            <li><a asp-action="Edit" class="dropdown-item ps-1" asp-route-id="@certificate.BirthCertificateId"><i class="bi bi-pencil-square ms-3"></i> تعديل</a></li>
                        }
                        @if (ViewBag.canDelete)
                        {
                            <li><a asp-action="Delete" class="dropdown-item ps-1" asp-route-id="@certificate.BirthCertificateId" asp-route-returnUrl="@Context.Request.Path"><i class="bi bi-trash3 ms-3"></i> حذف</a></li>
                        }
                        @if (ViewBag.canRead)
                        {
                            <li><a asp-action="Details" class="dropdown-item ps-1" asp-route-id="@certificate.BirthCertificateId"><i class="bi bi-card-text ms-3"></i> تفاصيل</a></li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
@*    <li><a asp-action="Print" class="dropdown-item ps-1" asp-route-id="@item.BirthCertificateId"><i class="bi bi-printer ms-3"></i> Print</a></li>
        <li><a asp-action="Details" class="dropdown-item ps-1" asp-route-id="@item.BirthCertificateId"><i class="bi bi-info-circle ms-3"></i> Details</a></li>
    *@