@model CRVS.Core.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0 text-center">Add User</h4>
            </div>
            <div class="card-body wizard-content">
                <form asp-action="Register" class="login-form @*validation-wizard wizard-circle*@ mt-5" enctype="multipart/form-data" method="post">
                    <!-- Step 1 -->
                    @*<h6>Step 1</h6>
                    <section>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group d-flex flex-column align-items-center">
                                <div class="position-relative w-75 mb-md-2">
                                    <img id="default" src="~/Images/GoldenBidPerson1_TestPicture.png" class="rounded-circle w-100" />
                                    <img id="preview" src="#" alt="Preview" class="top-0 w-100 rounded-circle left-0" style="display: none;" />
                                </div>
                                <label class="p-0 bg-transparent">Profile Picture (Optional)</label>
                                <input asp-for="Img" class="form-control" onchange="previewImage(event)" />
                                <span asp-validation-for="Img" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<input type="hidden" name="isAdmin" value="@ViewBag.IsAdmin" />*@
                                @*<input type="hidden" name="userId" value="@ViewBag.userId" />*@
                                <input asp-for="FName" class="form-control required" placeholder="First Name *" />
                                <span asp-validation-for="FName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="LName" class="form-control required" placeholder="Last Name *" />
                                <span asp-validation-for="LName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Email" class="form-control required" placeholder="Email *" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" class="form-control required" placeholder="Password *" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" class="form-control required" placeholder="Confirm Password *" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Phone" class="form-control required" placeholder="Phone *" value="+962" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Roles">Roles</label>
                                    <select id="Roles" name="Roles" asp-for="Roles" class="form-control required">
                                <option value="" disabled selected hidden>-- Select Roles *--</option>
                                @foreach (var item in ViewBag.Roles)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                                </select>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.IsAdmin)
                    {
                        <div class="row mt-4">
                            <div class="col">
                                <div class="form-group">
                                    <label for="GovernorateId">Governorate*</label>
                                    <select id="GovernorateId" asp-for="GovernorateId" name="GovernorateId" class="form-control">
                                        <option value="" disabled selected hidden>-- Select Governorate --</option>
                                        @foreach (var item in ViewBag.Governorates)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="DohId">Directorate</label>
                                    <select id="DohId" asp-for="DohId" name="DohId" class="form-control ">
                                        <option value="" disabled selected hidden>-- Select Doh*--</option>
                                        @foreach (var item in ViewBag.Dohs)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="DistrictId">District</label>
                                    <select id="DistrictId" asp-for="DistrictId" name="DistrictId" class="form-control ">
                                        <option value="" disabled selected hidden>-- Select District*--</option>
                                        @foreach (var item in ViewBag.Districts)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="NahiaId">Nahia</label>
                                    <select id="NahiaId" name="NahiaId" asp-for="NahiaId" class="form-control ">
                                        <option value="" disabled selected hidden>-- Select Nahia*--</option>
                                        @foreach (var item in ViewBag.Nahias)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row2">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="Village" class="form-control required" placeholder="Village*" />
                                    <span asp-validation-for="Village" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="FacilityTypeId">Facility Type</label>
                                    <select id="FacilityTypeId" name="FacilityTypeId" asp-for="FacilityTypeId" class="form-control ">
                                        <option value="" disabled selected hidden>-- Select Facility Type*--</option>
                                        @foreach (var item in ViewBag.FacilityTypes)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="row2">
                            <div class="col">
                                <div class="form-group">
                                    <label for="HealthInstitutionId">Health Institution</label>
                                    <select id="HealthInstitutionId" name="HealthInstitutionId" asp-for="HealthInstitutionId" class="form-control ">
                                        <option value="" disabled selected hidden>-- Select Health Institution*--</option>
                                        @foreach (var item in ViewBag.HealthInstitutions)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    }
                    @*
                    </section>
                    <!-- Step 2 -->
                    <h6>Step 2</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>
                    <!-- Step 3 -->
                    <h6>Step 3</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>Step 4</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>
                    <!-- Step 5 -->
                    <h6>Step 5</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>*@
                    <input type="submit" value="Create" class="btn btn-primary" @*bottom-0 position-absolute start-0" *@ />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var defaultImgElement = document.getElementById("default");
                var previewImgElement = document.getElementById("preview");
                defaultImgElement.style.display = "none";
                previewImgElement.src = reader.result;
                previewImgElement.style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
    @*Filtering Doh after selecting Governorate*@
    <script>
        $(document).ready(function () {
            $('#GovernorateId').change(function () {
                var selectedGovernorateId = $(this).val();
                $.ajax({
                    url: '/Account/GetDohs',
                    type: 'GET',
                    data: { governorateId: selectedGovernorateId },
                    dataType: 'json',
                    success: function (data) {
                        var directorateDropdown = $('#DohId');
                        directorateDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Doh* --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        directorateDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.dohId).text(item.dohName);
                            directorateDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
    @*Filtering Districts after selecting Doh*@
    <script>
        $(document).ready(function () {
            $('#DohId').change(function () {
                var selectedDohId = $(this).val();
                $.ajax({
                    url: '/Account/GetDistricts',
                    type: 'GET',
                    data: { dohId: selectedDohId },
                    dataType: 'json',
                    success: function (data) {
                        var districtDropdown = $('#DistrictId');
                        districtDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Districts* --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        districtDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.districtId).text(item.districtName);
                            districtDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
    @*Filtering Nahia after selecting Districts*@
    @*<script>
        $(document).ready(function () {
            $('#DistrictId').change(function () {
                var selectedDistrictId = $(this).val();
                $.ajax({
                    url: '/Account/GetNahias',
                    type: 'GET',
                    data: { districtId: selectedDistrictId },
                    dataType: 'json',
                    success: function (data) {
                        var nahiaDropdown = $('#NahiaId');
                        nahiaDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Nahia --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        nahiaDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.nahiaId).text(item.nahiaName);
                            nahiaDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>*@
    <script>
        $(document).ready(function () {
            $('#DistrictId').change(function () {
                var selectedDistrictId = $(this).val();
                var selectedDohId = $('#DohId').val();
                var selectedGovernorateId = $('#GovernorateId').val();

                $.ajax({
                    url: '/Account/GetNahias',
                    type: 'GET',
                    data: { districtId: selectedDistrictId, dohId: selectedDohId, governorateId: selectedGovernorateId },
                    dataType: 'json',
                    success: function (data) {
                        var nahiaDropdown = $('#NahiaId');
                        nahiaDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Nahia* --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        nahiaDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.nahiaId).text(item.nahiaName);
                            nahiaDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>

    @*Filtering HealthInstitutions after selecting FacilityType*@
    <script>
        $(document).ready(function () {
            $('#FacilityTypeId').change(function () {
                var selectedFacilityTypeId = $(this).val();
                var selectedDohId = $('#DohId').val();
                var selectedGovernorateId = $('#GovernorateId').val();
                $.ajax({
                    url: '/Account/GetHealthInstitutions',
                    type: 'GET',
                    data: { facilityTypeId: selectedFacilityTypeId, dohId: selectedDohId, governorateId: selectedGovernorateId },
                    dataType: 'json',
                    success: function (data) {
                        var healthInstitutionDropdown = $('#HealthInstitutionId');
                        healthInstitutionDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Health Institutions* --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        healthInstitutionDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.healthInstitutionId).text(item.healthInstitutionName);
                            healthInstitutionDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>@*
    <script>
        function showNextDropdown(selectElement, nextRow) {
            var selectedValue = selectElement.value;
            $('#row' + nextRow + ', #row' + (nextRow + 1) + ', #row' + (nextRow + 2) + ', #row' + (nextRow + 3)).hide();
            if (selectedValue !== '') {
                $('#row' + nextRow).show();
                for (var i = nextRow + 1; i <= 5; i++) {
                    $('#row' + i).hide();
                    $('select[name="' + $('#row' + i + ' select').attr('name') + '"]').val('');
                }
            }
        }
    </script>*@
    @*
    <script>
        function showNextDropdown(selectElement, nextRowClass) {
            var selectedValue = selectElement.value;
            var currentRow = selectElement.parentNode.parentNode;
            var nextRowElement = currentRow.nextElementSibling;

            while (nextRowElement) {
                nextRowElement.style.display = 'none';

                var nextDropdown = nextRowElement.querySelector('select');
                nextDropdown.value = '';

                nextRowElement = nextRowElement.nextElementSibling;

                if (nextRowElement && nextRowElement.classList.contains(nextRowClass)) {
                    break;
                }
            }

            if (selectedValue !== '') {
                if (nextRowElement) {
                    nextRowElement.style.display = 'block';
                }
            }
        }
    </script>*@

}