@model CRVS.Core.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <h4 class="card-title mb-0 text-center">Add User</h4>
            </div>
            <div class="card-body wizard-content">
                <form asp-action="Register" class="login-form @*validation-wizard wizard-circle*@ mt-5" enctype="multipart/form-data" method="post">
                    <!-- Step 1 -->
                    @*<h6>Step 1</h6>
                    <section>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group d-flex flex-column align-items-center">
                                <div class="position-relative w-75 mb-md-2">
                                    <img id="default" src="~/Images/GoldenBidPerson1_TestPicture.png" class="rounded-circle w-100" />
                                    <img id="preview" src="#" alt="Preview" class="top-0 w-100 rounded-circle left-0" style="display: none;" />
                                </div>
                                <label class="p-0 bg-transparent">Profile Picture (Optional)</label>
                                <input asp-for="Img" class="form-control" onchange="previewImage(event)" />
                                <span asp-validation-for="Img" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="FName" class="form-control required" placeholder="First Name *" />
                                <span asp-validation-for="FName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="LName" class="form-control required" placeholder="Last Name *" />
                                <span asp-validation-for="LName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Email" class="form-control required" placeholder="Email *" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" class="form-control required" placeholder="Password *" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" class="form-control required" placeholder="Confirm Password *" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Phone" class="form-control required" placeholder="Phone *" value="+962" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Roles">Roles</label>
                                <select id="Roles" name="Roles" class="form-control required">
                                    <option value="" disabled selected hidden>-- Select Roles *--</option>
                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*show this row at first *@
                    <div class="row mt-4">
                        <div class="col">
                            <div class="form-group">
                                <label for="GovernorateId">Governorate</label>
                                <select id="GovernorateId" name="GovernorateId" class="form-control required" onchange="showNextDropdown(this, 'row2')">
                                    <option value="" disabled selected hidden>-- Select Governorate *--</option>
                                    @foreach (var item in ViewBag.Governorates)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*then show this row after choosing the row before it*@
                    <div class="row" id="row2" @*style="display: none;"*@>
                        <div class="col">
                            <div class="form-group">
                                <label for="DirectorateId">Directorate</label>
                                <select id="DirectorateId" name="DirectorateId" class="form-control required" onchange="showNextDropdown(this, 'row3')">
                                    <option value="" disabled selected hidden>-- Select Directorate *--</option>
                                    @foreach (var item in ViewBag.Directorates)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*then show this row after choosing the row before it*@
                    <div class="row" id="row2" @*style="display: none;"*@>
                        <div class="col">
                            <div class="form-group">
                                <label for="JudiciaryId">Judiciary</label>
                                <select id="JudiciaryId" name="JudiciaryId" class="form-control required" onchange="showNextDropdown(this, 'row4')">
                                    <option value="" disabled selected hidden>-- Select Judiciary *--</option>
                                    @foreach (var item in ViewBag.Judiciaries)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*then show this row after choosing the row before it*@
                    <div class="row" id="row2" @*style="display: none;"*@>
                        <div class="col">
                            <div class="form-group">
                                <label for="DistrictId">District</label>
                                <select id="DistrictId" name="DistrictId" class="form-control required">
                                    <option value="" disabled selected hidden>-- Select District *--</option>
                                    @foreach (var item in ViewBag.Districts)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*then show this row after choosing the row before it*@
                    <div class="row" id="row2" @*style="display: none;"*@>
                        <div class="col">
                            <div class="form-group">
                                <input asp-for="Village" class="form-control required" placeholder="Village *" />
                                <span asp-validation-for="Village" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="FacilityTypeId">Facility Type</label>
                                <select id="FacilityTypeId" name="FacilityTypeId" class="form-control required">
                                    <option value="" disabled selected hidden>-- Select Facility Type *--</option>
                                    @foreach (var item in ViewBag.FacilityTypes)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    @*then show this row after choosing the row before it*@
                    <div class="row" id="row2" @*style="display: none;"*@>
                        <div class="col">
                            <div class="form-group">
                                <label for="HealthInstitutionId">Health Institution</label>
                                <select id="HealthInstitutionId" name="HealthInstitutionId" class="form-control required">
                                    <option value="" disabled selected hidden>-- Select Health Institution *--</option>
                                    @foreach (var item in ViewBag.HealthInstitutions)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>@*
                    </section>
                    <!-- Step 2 -->
                    <h6>Step 2</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>
                    <!-- Step 3 -->
                    <h6>Step 3</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>Step 4</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>
                    <!-- Step 5 -->
                    <h6>Step 5</h6>
                    <section>
                    <div class="row">
                    </div>
                    </section>*@
                    <input type="submit" value="Create" class="btn btn-primary" @*bottom-0 position-absolute start-0" *@/>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var defaultImgElement = document.getElementById("default");
                var previewImgElement = document.getElementById("preview");
                defaultImgElement.style.display = "none";
                previewImgElement.src = reader.result;
                previewImgElement.style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        }
    </script>
    @*Filtering Directorates after selecting Governorate*@
    <script>
        $(document).ready(function () {
            $('#GovernorateId').change(function () {
                var selectedGovernorateId = $(this).val();
                $.ajax({
                    url: '/Account/GetDirectorates',
                    type: 'GET',
                    data: { governorateId: selectedGovernorateId },
                    dataType: 'json',
                    success: function (data) {
                        var directorateDropdown = $('#DirectorateId');
                        directorateDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Directorate --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        directorateDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.directorateId).text(item.directorateName);
                            directorateDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
    @*Filtering Judiciaries after selecting Directorate*@
    <script>
        $(document).ready(function () {
            $('#DirectorateId').change(function () {
                var selectedDirectorateId = $(this).val();
                $.ajax({
                    url: '/Account/GetJudiciaries',
                    type: 'GET',
                    data: { directorateId: selectedDirectorateId },
                    dataType: 'json',
                    success: function (data) {
                        var judiciaryDropdown = $('#JudiciaryId');
                        judiciaryDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Judiciary --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        judiciaryDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.judiciaryId).text(item.judiciaryName);
                            judiciaryDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
    @*Filtering Districts after selecting Judiciary*@
    <script>
        $(document).ready(function () {
            $('#JudiciaryId').change(function () {
                var selectedJudiciaryId = $(this).val();
                $.ajax({
                    url: '/Account/GetDistricts',
                    type: 'GET',
                    data: { judiciaryId: selectedJudiciaryId },
                    dataType: 'json',
                    success: function (data) {
                        var districtDropdown = $('#DistrictId');
                        districtDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select District --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        districtDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.districtId).text(item.districtName);
                            districtDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
    @*Filtering HealthInstitutions after selecting FacilityType*@
    <script>
        $(document).ready(function () {
            $('#FacilityTypeId').change(function () {
                var selectedFacilityTypeId = $(this).val();
                $.ajax({
                    url: '/Account/GetHealthInstitutions',
                    type: 'GET',
                    data: { facilityTypeId: selectedFacilityTypeId },
                    dataType: 'json',
                    success: function (data) {
                        var healthInstitutionDropdown = $('#HealthInstitutionId');
                        healthInstitutionDropdown.empty();
                        var selectOption = $('<option></option>').val('').text('-- Select Directorate --');
                        selectOption.prop('disabled', true);
                        selectOption.prop('hidden', true);
                        selectOption.prop('selected', true);
                        healthInstitutionDropdown.append(selectOption);
                        $.each(data, function (index, item) {
                            var option = $('<option></option>').val(item.healthInstitutionId).text(item.healthInstitutionName);
                            healthInstitutionDropdown.append(option);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>@*
    <script>
        function showNextDropdown(selectElement, nextRow) {
            var selectedValue = selectElement.value;
            $('#row' + nextRow + ', #row' + (nextRow + 1) + ', #row' + (nextRow + 2) + ', #row' + (nextRow + 3)).hide();
            if (selectedValue !== '') {
                $('#row' + nextRow).show();
                for (var i = nextRow + 1; i <= 5; i++) {
                    $('#row' + i).hide();
                    $('select[name="' + $('#row' + i + ' select').attr('name') + '"]').val('');
                }
            }
        }
    </script>*@

    <script>
        function showNextDropdown(selectElement, nextRowClass) {
            var selectedValue = selectElement.value;
            var currentRow = selectElement.parentNode.parentNode; // Get the current row element
            var nextRowElement = currentRow.nextElementSibling; // Get the next row element with the specified class

            while (nextRowElement) {
                // Hide the subsequent rows
                nextRowElement.style.display = 'none';

                // Reset the value of the dropdown in the subsequent row
                var nextDropdown = nextRowElement.querySelector('select');
                nextDropdown.value = '';

                // Move to the next row
                nextRowElement = nextRowElement.nextElementSibling;

                // Check if the row has the specified class
                if (nextRowElement && nextRowElement.classList.contains(nextRowClass)) {
                    break; // Stop iterating if the class is found
                }
            }

            if (selectedValue !== '') {
                // Show the next row
                if (nextRowElement) {
                    nextRowElement.style.display = 'block';
                }
            }
        }
    </script>

}