@model IEnumerable<CRVS.Core.Models.User>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center mt-5">Users List</h1>

@*<table class="table table-dark table-responsive-lg mb-4" id="myTable">*@
<table class="table table-bordered table-responsive-lg mt-3">
    <thead>
        <tr>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <img style="width: 5rem" src="@Url.Content(user.Img)" />
                </td>
                <td>@user.FName</td>
                <td>@user.LName</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
            </tr>
        }
    </tbody>
</table>
